body {
            background-color: #1E3251;
            color: white;
        }

        label {
            color: whitesmoke;
            text-decoration: none;
        }

        .modal-content {
            color: #1e3251;
        }

        .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
            background-color: #15a689;
        }

        td {
            color: black;
        }

        .dataTables_info{
            color: #fff !important;
        }

.modal-content label{
    color: #1e3251 !important;
}

.select2-container--classic{
    color: #1e3251 !important;
}

.table-condensed th{
    color: #1e3251 !important;
}
