    body {
        background-color: #1E3251;
        color: white;
    }

    .panel-body {
        color: #000;
    }

    .button-links {
        color: #4879C8;
        padding: 10px 10px;
        border: 0;
        font-size: 20px;
    }

    .button-links:hover {
        text-decoration: none;
        color: #000;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background-color: #4879C8;
    }

    label {
        color: black;
        text-decoration: none;
    }

    input[type="range"] {
        display: block;
        width: auto !important;
    }