@()

@import play.i18n._


<!DOCTYPE html>

<html lang="en">
<head>
    @views.html.head {
    <title>About</title>
    }
</head>

<body>
<style>
    body {
        background-color: #eee;
    }

    .panel {
        background-color: #eed;
    }
</style>

@views.html.header {
}

<div class="container-fluid">
    <div class="starter-template">

        <div class="container" align="left">
            <div class="jumbotron" style="background:#97C6D9">
                <h1 class="span2 offset1">About iDSS</h1>
                <!--<h2>We're here to make your information workflow and archiving effortless.</h2>-->
                <h2>A Disaster Management System that saved Greece </h2>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-muted">
                        iDSS is a software developed for the project DecidE in collaboration with the municipality of Amyntaio.<br>
                        iDSS is a software developed for the project DecidE in collaboration with the municipality of Amyntaio.<br>
                        iDSS is a software developed for the project DecidE in collaboration with the municipality of Amyntaio.<br>
                        iDSS is a software developed for the project DecidE in collaboration with the municipality of Amyntaio.<br>
                        iDSS is a software developed for the project DecidE in collaboration with the municipality of Amyntaio.<br>
                        iDSS is a software developed for the project DecidE in collaboration with the municipality of Amyntaio.<br>
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>

@views.html.footer{

}

</body>

</html>