@(events: List[Notification], eventTypes: List[EventType], from: String, to: String, attributes: List[DisasterAttributeMapping])

@import play.i18n._

<!DOCTYPE html>

<html lang="en">
<head>
    @views.html.head {
    <title>@Messages.get("disasters")</title>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/events.css")'>
    <link rel='stylesheet'
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"><script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <!--<link rel="stylesheet" href='@routes.Assets.at("javascripts/layerswitcher/ol3-layerswitcher.css")'/>-->
    <!--<script src='@routes.Assets.at("javascripts/layerswitcher/ol3-layerswitcher.js")'></script>-->
    }
</head>

<body onload="disasterMap()">

@views.html.header {
}
<script>
        var isAdmin = 'false';
        if (@session.get("groups").contains("GROUP_ALFRESCO_ADMINISTRATORS")){
          isAdmin = 'true';
        }

        var base_url = '@Messages.get("baseUrl")';
        var editBtnMsg = '@Messages.get("editBtn")';
        var longitude = [];
        var latitude = [];
        var types = [];
        var description = [];
        var image = [];
        var username = [];
        var agency = [];
        var insert_date = [];
        var isOwn = [];
        var ids = [];
        var disaster_details = [];
        var disaster_attributes = [];

        var numOfEventTypes = @eventTypes.length;
        var event_types = [];
        var event_types_code = [];
        // var event_types_description = [];
        var icons = [];
        @for(t <- eventTypes) {
            @if(session.get("lang").contains("el")){
                event_types['@t.getCode()'] = '@t.getDisaster_description()';
            }
            @if(session.get("lang").contains("en")){
                event_types['@t.getCode()'] = '@t.getDisaster_description_en()';
            }
            event_types_code.push('@t.getCode()');
            icons.push('@t.getDisaster_icon');
        }
        //
        var numOfEvents = @events.length;
        @for(e <- events) {
            longitude.push(@e.getLon());
            latitude.push(@e.getLat());
            types.push('@e.getType()');
            description.push('@e.getDescr()');
            image.push('@e.getImage()');
            username.push('@e.getUsername()');
            agency.push('@e.getAgencyDisplay()');
            insert_date.push('@e.getInsert_dateFormattedReverse()');
            isOwn.push('@e.isOwn()');
            ids.push(@e.getId());
            disaster_details.push('@e.getDisaster_date()' + '#'
                                + '@e.getDisaster_duration()' + '#'
                                + '@e.getDisaster_area()' + '#'
                                + '@e.getDisaster_cause()' + '#'
                                + '@e.getDisaster_characteristics()' + '#'
                                + '@e.getDisaster_injuries()' + '#'
                                + '@e.getDisaster_deaths()' + '#'
                                + '@e.getDisaster_impacts_infrastructure()' + '#'
                                + '@e.getDisaster_impacts_other()' + '#'
                                + '@e.getDisaster_means_forces()' + '#'
                                + '@e.getDisaster_action_list()' + '#'
                                + '@e.getDisaster_remarks()' + '#'
                                + '@e.getDisaster_suggestions()' );
            disaster_attributes.push('@e.getDisasterAttributeMapping()');
        }

        var geoserver_ows='@Messages.get("GEOSERVER_OWS")';
        var dateM = '@Messages.get("disaster_date")';
        var durationM = '@Messages.get("disaster_duration")';
        var areaM = '@Messages.get("disaster_area")';
        var causeM = '@Messages.get("disaster_cause")';
        var characteristicsM = '@Messages.get("disaster_characteristics")';
        var injuriesM = '@Messages.get("disaster_injuries")';
        var deathsM = '@Messages.get("disaster_deaths")';
        var impactsM = '@Messages.get("disaster_impacts_infrastructure")';
        var otherM = '@Messages.get("disaster_impacts_other")';
        var meansM = '@Messages.get("disaster_means_forces")';
        var actionListM = '@Messages.get("disaster_action_list")';
        var remarksM = '@Messages.get("disaster_remarks")';
        var suggestionsM = '@Messages.get("disaster_suggestions")';
        //
        var deleteDisasterText='@Messages.get("deleteDisaster")';
        var deleteDisasterBody='@Messages.get("deleteDisasterBody")';
        var disasterComments='@Messages.get("disasterComments")';
        var reportedBy='@Messages.get("reportedBy")';


</script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/disaster.js")'></script>

<div class="container-fluid">
    <div class="starter-template">

        <!--<div class="page-header">-->
        <h1>@Messages.get("disasters")</h1><br/>
        <h5>@Messages.get("subtitleDisasters")</h5><br/>
        <!--</div>-->

        <!-- Modal when deleting disaster -->
        <div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabelDelete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabelDelete">@Messages.get("deleteDisaster")</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">
                            @Messages.get("cancel")
                        </button>
                        <button type="submit" class="btn btn-danger" id="markBtnDel">OK</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container col-lg-3" align="left">
            <h5>@Messages.get("searchDisaster")</h5>
            @helper.form(routes.Events.disasterCalendarSearch()) {
            <form id="calendarForm" class="form-horizontal">
                <!--FROM-->
                <div class="form-group">
                    <label>@Messages.get("fromDate")</label>
                    <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control" name="from" required/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
                <!--TO-->
                <div class="form-group">
                    <label>@Messages.get("toDate")</label>
                    <div class='input-group date' id='datetimepicker7'>
                        <input type='text' class="form-control" name="to" required/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success" id="searchBtn">@Messages.get("search")&nbsp;<span class="glyphicon glyphicon-search"/></button>
                <a class="btn btn-primary idss-default-btn" href="/disasters">@Messages.get("clearFilters")</a>
            </form>
            }

            <br/><br/>
            <div class="panel-group">
                <h5>@Messages.get("selectDisaster")</h5>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">@Messages.get("filterDisasters")</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse">
                        <div class="panel-body">
                            @for(e <- eventTypes) {
                            <label class="checkbox">
                                &emsp;&emsp;<input class="layerCheckbox" type="checkbox" id='@e.getCode()'
                                                   name='@e.getCode()' value="1" checked/>
                                @if(session.get("lang").contains("el")){
                                @e.getDisaster_description()
                                }
                                @if(session.get("lang").contains("en")){
                                @e.getDisaster_description_en()
                                }
                                &nbsp;<img src='@e.getDisaster_icon_thumbnail()'>
                            </label>
                            }
                            <input type=button id="eventButton" class="btn idss-default-btn" value='Uncheck all'
                                   onClick="toggleAllLayers()">
                        </div>
                        <!--<div class="panel-footer">Panel Footer</div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="container col-lg-9" align="left">

            <h4>
                @if(from){
                @Messages.get("fromDate")&emsp;@from&emsp;@Messages.get("toDate")&emsp;@to&emsp;
                }

                @if(events.size==0){
                <i>@Messages.get("noDisasters")</i>
                }
            </h4>

            <div id="map" class="map" style="width:100%;height:100%">
            </div>

            <div style="display: none;">
                <div id="popup" title='@Messages.get("disasterTitle")'></div>
            </div>
            <br/>
            <a class="btn btn-lg btn-danger" href="/reporting">@Messages.get("newreport")</a>&emsp;
            <a class="btn btn-lg btn-warning" href="/events">@Messages.get("events")</a>
            <br/><br/>

            <div class="jumbotron" id="editForm" style="display: none;" align="center">
                @helper.form(action = routes.Events.editDisaster){
                <form id="editDisaster">
                    <input type="hidden" class="form-control" id="id" name="id">

                    <!--0-->
                    <label>@Messages.get("disaster_date")</label><br/>
                    <div class='input-group date' id='datetimepickerdisaster'>
                    <input type='text' class="form-control" name="disaster_date" id="disaster_date"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <br/>
                    <!--1-->
                    <label>@Messages.get("disaster_duration")</label><br/>
                    <small id="attributeValue_disaster_duration"></small>
                    <input type="text" class="form-control" name="disaster_duration" id="disaster_duration">
                    <br/>
                    <!--2-->
                    <label>@Messages.get("disaster_area")</label><br>
                    <small id="attributeValue_disaster_area"></small>
                    <input type="text" class="form-control" name="disaster_area" id="disaster_area">
                    <br/>
                    <!--3-->
                    <label>@Messages.get("disaster_cause")</label><br>
                    <small id="attributeValue_disaster_cause"></small>
                    <input type="text" class="form-control" name="disaster_cause" id="disaster_cause">
                    <br/>
                    <!--4-->
                    <label>@Messages.get("disaster_characteristics")</label><br>
                    <small id="attributeValue_disaster_characteristics"></small>
                    <input type="text" class="form-control" name="disaster_characteristics" id="disaster_characteristics">
                    <br/>
                    <!--5-->
                    <label>@Messages.get("disaster_injuries")</label><br>
                    <input type="text" class="form-control" name="disaster_injuries" id="disaster_injuries">
                    <br/>
                    <!--6-->
                    <label>@Messages.get("disaster_deaths")</label><br>
                    <input type="text" class="form-control" name="disaster_deaths" id="disaster_deaths">
                    <br/>
                    <!--7-->
                    <label>@Messages.get("disaster_impacts_infrastructure")</label><br>
                    <small id="attributeValue_disaster_impacts_infrastructure"></small>
                    <input type="text" class="form-control" name="disaster_impacts_infrastructure" id="disaster_impacts_infrastructure">
                    <br/>
                    <!--8-->
                    <label>@Messages.get("disaster_impacts_other")</label><br>
                    <small id="attributeValue_disaster_impacts_other"></small>
                    <input type="text" class="form-control" name="impacts_other" id="impacts_other">
                    <br/>
                    <!--9-->
                    <label>@Messages.get("disaster_means_forces")</label>
                    <input type="text" class="form-control" name="disaster_means_forces" id="disaster_means_forces">
                    <br/>
                    <!--10-->
                    <label>@Messages.get("disaster_action_list")</label>
                    <input type="text" class="form-control" name="disaster_action_list" id="disaster_action_list">
                    <br/>
                    <!--11-->
                    <label>@Messages.get("disaster_remarks")</label>
                    <input type="text" class="form-control" name="disaster_remarks" id="disaster_remarks">
                    <br/>
                    <!--12-->
                    <label>@Messages.get("disaster_suggestions")</label>
                    <input type="text" class="form-control" name="disaster_suggestions" id="disaster_suggestions">
                    <br/>
                    <button class="btn btn-success" type="submit" style="float:left;">@Messages.get("updateDetails")</button>
                    <br/>
                </form>
                }
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" charset="utf-8">

        var startDate, endDate;

        $(function() {

            // Bootstrap date time picker
            $('#datetimepicker6').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
            });

            $('#datetimepicker7').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
                useCurrent: false //Important! See issue #1075
            });

            $("#datetimepicker6").on("dp.change", function (e) {
                startDate = e.date._d;
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                endDate = e.date._d;
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
            ////////////////////////////////////////////////////////////////////


            // Bootstrap date time picker
            $('#datetimepickerdisaster').datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
            });


        }); // End of jquery

        $('#searchBtn').click(function(){
            var startDate = $("#datetimepicker6").find("input").val();
            var endDate = $("#datetimepicker7").find("input").val();
        });

        $('#viewDropdown').addClass('active');

</script>

@views.html.footer{
}
</body>

</html>