@(htmlContent: Html)
@import play.i18n._


<footer class="footer-basic-centered">
    <div class="container">

        <p class="footer-company-motto">
            <p style="color:#000">The Project is co-funded by the European Union and by National Funds of the Participating Countries <br/>
            under the IPA Cross-Border Programme "Greece - The former Yugoslav Republic of Macedonia 2007-2013"</p>
            <img src="/assets/images/decide_footer_flags.jpg"/>
        </p>
        <p class="footer-links">
            <a href="http://www.decide-project.eu/">DECIDE</a>
            <a href='mailto:@Messages.get("emailUsername")'>Contact</a>&nbsp
            <a href="#" src="google.com">About</a>
        </p>
    </div>
</footer>
