@()

@import helper._
@import play.i18n._

<!DOCTYPE html>

<html lang="en">
<head>
@views.html.head {

    <script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.8/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <title>Human Resources</title>
}
</head>

<body>

@views.html.header {
}

<div class="container-fluid">
    <div class="starter-template">

        <div class="page-header">
            <h1>Human Resources</h1>
            <hr/>
        </div>

        <div class="container col-lg-12">
            <h2>Human Resources</h2><br/>
        </div>

    </div>
</div><!-- /.container -->


@views.html.footer{

}

</body>
</html>