@(warning: String)

@import play.i18n._

<!DOCTYPE html>

<html lang="en">
<head>
    @views.html.head {
        <title>@Messages.get("forgotPassword")</title>
    }
</head>

<body>

<style>
    body {
        background-color: #1e3251;
        color: white;
    }


</style>

    <div class="container">
        <div class="row">
            <div class="container col-lg-1">
            </div>
            <div class="container col-lg-10">
                <a href="/login" style="float:left; color:white;"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
                <div style="float:right;">
                    @if(session.get("lang").contains("en")){
                    <a class="activeLocale loginLocale" href="/lang/en">en</a>
                    &emsp;
                    <a class="loginLocale" href="/lang/el">el</a>
                    }

                    @if(session.get("lang").contains("el")){
                    <a class="loginLocale" href="/lang/en">en</a>
                    &emsp;
                    <a class="activeLocale loginLocale" href="/lang/el">el</a>
                    }
                </div>
            </div>
            <div class="container col-lg-1">
            </div>
        </div>

        <div class="container col-lg-12" align="center">
            <h1>@Messages.get("forgotPassword")</h1>
            <br/>
            <h3>@Messages.get("forgotPasswordUsername")</h3>
            <br/>
            @helper.form(routes.User.passwordmail()) {
            <form>
                <!--<label for="email" class="sr-only">Email</label>-->
                <input name="userName" id="userName" class="form-control" placeholder='@Messages.get("username")' required style="width:50%">
                <br/>
                <button class="btn btn-default btn-lg idss-default-btn"  type="submit">@Messages.get("forgotPasswordSendNew")</button>
            </form>
            }
            <br/>
            <div class="alert alert-warning" id="alert_template" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $("input").prop('required',true);
        $("select").prop('required',true);

         @if(warning){
           $(alert_template).show();

            $("#alert_template button").after('@warning');
            $('#alert_template').fadeIn('slow');
            $('#alert_template .close').click(function(e) {
                $('#alert_template').hide();
            });
         }
    </script>

</body>

</html>