@()

@import play.i18n._

<!DOCTYPE html>

<html lang="en">
<head>
    @views.html.head {
        <title>@Messages.get("insertNewBody")</title>
    }
</head>

<body>

<style>
    body {
      background-color: #1e3251;
      color:white;
    }

</style>

    <div class="container">

        <div class="row">
            <div class="container col-lg-1">
            </div>
            <div class="container col-lg-10">
                <a href="/login" style="float:left; color:white;"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
                <div style="float:right;">
                    @if(session.get("lang").contains("en")){
                    <a class="activeLocale loginLocale" href="/lang/en">en</a>
                    &emsp;
                    <a class="loginLocale" href="/lang/el">el</a>
                    }

                    @if(session.get("lang").contains("el")){
                    <a class="loginLocale" href="/lang/en">en</a>
                    &emsp;
                    <a class="activeLocale loginLocale" href="/lang/el">el</a>
                    }
                </div>
            </div>
            <div class="container col-lg-1">
            </div>

        </div>

        <div class="container col-lg-12" align="center">
            <!--<div class="jumbotron">-->
                <h1>DECIDE DSS</h1>
                <br/><b/><br/>
                <a class="btn btn-default btn-lg idss-default-btn" href="/signup/info" style="width:50%; white-space: normal;">@Messages.get("insertNewBody")</a>
                <br/><br/>
                <a class="btn btn-default btn-lg idss-default-btn" href="/agency/login" style="width:50%; white-space: normal;">@Messages.get("alreadyRegisteredBody")</a>
            <!--</div>-->
        </div>

    </div>

</body>

</html>